<div class="split-me evenly">
    <mat-card id="register">
        <h2>Register!</h2>
        <form (ngSubmit)="onRegister(registerForm.value)" #registerForm="ngForm" class="centered">
            <h4>Register</h4>
            <mat-form-field class="centered">
              <mat-label>Username</mat-label>
              <input matInput type="text" name="login" ngModel/>
            </mat-form-field>
            <mat-form-field class="centered">
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password" ngModel/>
            </mat-form-field>
            <mat-form-field class="centered">
                <mat-label>Repeat password</mat-label>
                <input matInput type="password" name="newpassword" ngModel/>
              </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="(registerForm.value.password !== registerForm.value.newpassword)">Register!</button>
            <p>{{registerForm.value.newpassword !== registerForm.value.password ? "Passwords must match!" : ""}}</p>
            <p>{{error}}</p>
          </form>
    </mat-card>
    <mat-card id="login">
        <h2>Sign in!</h2>
            <button mat-raised-button (click)="onLogin()">Click here to sign in!</button>
    </mat-card>
</div>
