/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.category-text {
  color: #ADBAEB;
}
.split-me{
  display: flex;
  width: 100%;
}
.evenly{
  justify-content: space-evenly;
}
.grid-me{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.hidden {
  display: none !important;
}
.center {
  align-items: center;
}