<table mat-table [dataSource]="dataSource" *ngIf="todoLoaded">
  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef>
      <mat-expansion-panel *ngIf="categoryLoaded" class="no-padding">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ToDos
          </mat-panel-title>
          <mat-panel-description>
            Manage your ToDos
          </mat-panel-description>

        </mat-expansion-panel-header>
        <mat-tab-group *ngIf="categoryLoaded">
          <mat-tab label="Create ToDo">
              <form (ngSubmit)="onAdd(addForm.value)" #addForm="ngForm">
                <mat-form-field>
                  <mat-label>To-do name</mat-label>
                  <input matInput type="text" name="name" ngModel/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker" name="endDate" ngModel/>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select name="categoryId" class="buttons" ngModel>
                      <mat-option [value]="null"></mat-option>
                      <mat-option *ngFor="let category of categories" [value]="category.id" [style.background]="category.color+'88'">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <button mat-raised-button type="submit" [disabled]="!(addForm.value.name)">Add</button>
              </form>
          </mat-tab>
          <mat-tab label="Create Category">
              <form (ngSubmit)="onCategory(categoryForm.value)" #categoryForm="ngForm">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput type="text" name="name" ngModel/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Color</mat-label>
                  <input matInput [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpDialogDisplay]="'inline'" [cpCloseClickOutside]="true" [value]="color" name="color" ngModel/>
                </mat-form-field>
                <button id="category-submit" mat-raised-button type="submit" [disabled]="!(categoryForm.value.name)">Add</button>
              </form>
          </mat-tab>
          <mat-tab label="Manage Categories"> 
            <mat-list>
              <mat-list-item *ngFor="let category of categories" [style.background]="category.color+88">
                <div mat-line>{{category.name}}</div>
                <div mat-line>{{category.color}}</div>
                  <button mat-button (click)="deleteCategory(category)">
                    <mat-icon>delete</mat-icon>
                  </button>



              </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>


      </mat-expansion-panel>
    </th>
      <td mat-cell *matCellDef="let element" class="card" [style.background]="element.color+'88'" [style.border-color]="element.color+'88'">
        <div class="card-body no-padding">
          <div id="column" class="card-title">
            {{element.name}}
            <mat-form-field *ngIf="element.canEdit"> 
              <mat-label>To-do name</mat-label>
              <input matInput [(ngModel)]="element.name" type="text"/>
            </mat-form-field>
            <p *ngIf="!element.canEdit">{{element.category}}</p>
              <mat-form-field *ngIf="element.canEdit">
                <mat-label>Category</mat-label>
                <mat-select name="categoryId" class="buttons" [(ngModel)]="element.categoryId">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category.id" [style.background]="category.color+'88'" [disabled]="category === null" (click)="visualChange(element, category)">{{category.name}}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="card-text">
            {{element.endDate !== "0001-01-01T00:00:00" ? element.endDate : ""}}
            <button mat-button (click)="delete(element)"><mat-icon>delete</mat-icon></button>
            <button mat-button (click)="edit(element)" *ngIf="!element.canEdit"><mat-icon>create</mat-icon></button>
            <button mat-button (click)="edit(element)" *ngIf="element.canEdit"><mat-icon>done</mat-icon></button>
          </div>
        </div>
      </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="row.deleted"></tr>
</table>
